{
    "extends": ["airbnb/hooks", "airbnb/base", "plugin:react/jsx-runtime", "eslint:recommended", "plugin:react/recommended"],
    "rules": {
        "react/prop-types": 0,
        "max-len": ["error", { "code": 200 }]
      } 
}