.order-inf-header{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #121212;
    margin-top: 32px;
}

.all-order-inf{
    margin-top: 26px;
}

.inf-name{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    font-style: "Roboto";
}

.inf-value{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #999999;
}

.order-inf{
    display: flex;
    justify-content: space-between;
}

.dots-style{
    flex: 1;
    border-bottom: 2px dotted #999999;
    margin-left: 12px;
    margin-right: 12px;
}

.order-price-inf{
    margin-top: 32px;
    font-size: 16px;
    line-height: 16px;
    color: #121212;
    display: flex;
}

.order-price-header{
    font-family: "Roboto";
    font-weight: 500;
}

.order-price{
    font-family: "Roboto";
    font-weight: 400;
}

.order-inf-btn{
    cursor: pointer;
    margin-top: 32px;
    background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
    background-blend-mode: darken;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    font-style: "Roboto";
}

.order-inf-btn:hover{
    filter: brightness(90%);
}

.order-inf-btn:active{
    filter: brightness(80%);
}