.filter_item_form {
  display: flex;
  margin-top: 38px;
  align-items: center;
}

.filter_item_form input{
  display: none;
}

.filter_item_form label{
  font-style: "Roboto";
  position: relative;
  font-weight: 300;
  padding-left: 19px;
  font-size: 14px;
  line-height: 16px;
}

.filter_item_form_active label{
  color: #121212;
  cursor: pointer;
}

.filter_item_form_unactive label{
  color: #999999;
  cursor: pointer;
}

.filter_item_form_unactive label:before{
  position: absolute;
  content: "";
  border-radius: 50%;
  left: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #999999;
}

.filter_item_form_unactive label:hover:before {
  width: 7px;
  height: 7px;
  border: 3px solid #0ec261;
}

.filter_item_form_active label::before{
  position: absolute;
  content: "";
  border-radius: 50%;
  left: 0;
  width: 7px;
  height: 7px;
  border: 3px solid #0ec261;
}

@media (max-width: 744px) {
  .filter_item_form {
    height: 30px;
    margin: 0 0 0 16px;
  }
}

.filter_item_form:not(:first-child) {
  margin-left: 16px;
}

@media (max-width: 744px) {
  .filter_item_form:not(:first-child) {
    margin: 0 0 0 16px;
  }
}
