.flter_items_form {
  display: flex;
}

@media (max-width: 744px) {
  .flter_items_form {
    display: none;
  }
}

.mobile_flter_items_form {
  display: none;
}

@media (max-width: 744px) {
  .mobile_flter_items_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
    position: fixed;
    width: 230px;
    border: 1px solid #bdbdbd;
    border-left: 0px;
    left: 75px;
    transition: 0.3s;
    border-radius: 0 6px 6px 0;
    background-color: white;
  }
}

@media (max-width: 540px) {
  .mobile_flter_items_form {
    left: 0;
  }
}

.mobile_flter_items_form_closed {
  display: none;
}

@media (max-width: 744px) {
  .mobile_flter_items_form_closed {
    display: flex;
    transform: translateX(-234px);
  }
}

@media (max-width: 540px) {
  .mobile_flter_items_form_closed {
    transform: translateX(-232px);
  }
}

.mobile_popup_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 230px;
  position: absolute;
  width: 30px;
  height: 40px;
  background-color: #bdbdbd;
  border-radius: 0 6px 6px 0;
}

.triangle_left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 9px solid #0ec261;
}

.triangle_right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 9px solid #0ec261;
}

.cars_list_form {
  overflow-y: scroll;
  display: grid;
  width: 741px;
  grid-template-columns: 368px 368px;
  margin-top: 48px;
  height: calc(100vh - 184px - 48px);
}

@media (max-width: 1350px) {
  .cars_list_form {
    overflow-y: scroll;
    display: grid;
    width: 666px;
    grid-template-columns: 328px 328px;
    margin-top: 48px;
    height: calc(100vh - 184px - 48px);
  }
}

@media (max-width: 1268px) {
  .cars_list_form {
    overflow-y: scroll;
    display: grid;
    width: 541px;
    grid-template-columns: 268px 268px;
    margin-top: 48px;
    height: calc(100vh - 184px - 48px);
  }
}

@media (max-width: 1160px) {
  .cars_list_form {
    height: calc(100vh - 184px - 48px - 10vh);
    width: calc(100vw - 64px - 64px);
  }
}

@media (max-width: 1024px) {
  .cars_list_form {
    width: calc(100vw - 86px - 64px);
  }
}

@media (max-width: 744px) {
  .cars_list_form {
    width: calc(100vw - 86px - 64px);
    justify-content: center;
    grid-template-columns: 328px;
  }
}

@media (max-width: 540px) {
  .cars_list_form {
    display: none;
  }
}

.cars_list_form::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

.cars_list_form::-webkit-scrollbar-thumb {
  background-color: #0ec261;
  border-radius: 9em;
}

.list_mobile{
  display: none;
}

@media (max-width: 540px) {
  .list_mobile{
    display: block;
  }
}


.cras_list_paginate {
  display: none;
}

.cras_list_paginate::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

.cras_list_paginate::-webkit-scrollbar-thumb {
  background-color: #0ec261;
  border-radius: 9em;
}

@media (max-width: 540px) {
  .cras_list_paginate {
    margin-top: 32px;
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 280px) {
  .cras_list_paginate {
    grid-template-columns: 276px;
  }
}

.pagination {
  display: none;
  color: #0ec261;
}

@media (max-width: 1190px) {
  .pagination {
    grid-template-columns: 276px;
    margin-top: 40px;
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    justify-content: center;
  }
}

@media (max-width: 1190px) {
  .pagination {
    grid-template-columns: 276px;
    margin-top: 40px;
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    justify-content: center;
  }
}

@media (max-width: 540px) {
  .pagination {
    margin-bottom: 90px;
  }
}

.page {
  cursor: pointer;
  margin-left: 10px;
  width: 18px;
  text-align: center;
}

.active {
  width: 18px;
  border-radius: 50%;
  background-color: #0ec261;
  color: white;
  text-align: center;
}

.next {
  margin-left: 10px;
}

.break {
  margin-left: 10px;
}
