.nav-bar-form{
    margin-top: 32px;
    width: calc(100vw - 64 * 2px);
    padding-left: 64px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    height: 32px;
    display: flex;
    align-items: center;
}

@media (max-width: 580px) {
    .nav-bar-form {
        padding-left: 0px;
        justify-content: center;
        width: calc(100vw - 64px);
    }
  }

  @media (max-width: 540px) {
    .nav-bar-form {
        width: 100vw;
        margin-top: 48px;
    }
  }

.links-form{
    display: flex;
}

@media (max-width: 580px) {
    .links-form {
        display: none;
    }
  }

.nav-link{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color:  #121212;
    font-family: "Roboto";
    font-weight: 700;
}

.nav-link:hover{
    color: #0EC261;
}

.nav-link:not(:first-child){
    margin-left: 16px;
}

.triangles{
    margin-left: 16px;
}

@media (min-width: 580px) {
    .mobile-links-form {
        display: none;
    }
  }

  @media (max-width: 580px) {
    .mobile-links-form {
        border: none;
        outline: none;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #121212;
        cursor: pointer;
        width: 130px;
        text-align: center;
    }
  }

  @media (max-width: 580px) {
    .mobile-nav-link:hover{
        cursor: pointer;
        color: #0EC261
    }
  }

  .links-popup{
      position: absolute;
      margin-top: 7px;
      width: 130px;
      
      border: 1px solid#121212;
      ;
  }

  .nav-link-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    font-family: "Roboto";
    font-weight: 700;
    height: 24px;
    border-bottom: 0.5px solid #121212;
  }

  .nav-link-mobile:hover{
      color: white;
      background-color: #0EC261;
  }

  .nav-link-mobile:active{
    color: white;
    background-color: #0EC261;
}

.down-arrow{
    width: 4px;
    height: 4px;
    position: absolute;
    margin-left: 120px;
    border: solid #121212;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(300deg);
    -webkit-transform: rotate(45deg);
    margin-top: 3px;
}

.up-arrow{
    width: 4px;
    height: 4px;
    position: absolute;
    margin-left: 120px;
    border: solid #121212;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(300deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 5px;
}