.nav_bar_form{
    margin-top: 32px;
    width: calc(100vw - 64 * 2px);
    padding-left: 64px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    height: 32px;
    display: flex;
    align-items: center;
}

@media (max-width: 580px) {
    .nav_bar_form {
        padding-left: 0px;
        justify-content: center;
        width: calc(100vw - 64px);
    }
  }

  @media (max-width: 540px) {
    .nav_bar_form {
        width: 100vw;
        margin-top: 48px;
    }
  }

.links_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 580px) {
    .links_form {
        display: none;
    }
  }

.nav_link{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color:  #121212;
    font-family: "Roboto";
    font-weight: 700;
}

.nav_link:hover{
    color: #0EC261;
}

.nav_link:not(:first-child){
    margin-left: 16px;
}

.nav_link_active{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #0EC261;
    font-family: "Roboto";
    font-weight: 700;
}

.nav_link_active:not(:first-child){
    margin-left: 16px;
}

.triangle{
    margin-left: 16px;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-left: 8px solid #999999;
    border-bottom: 5px solid transparent;
}

.nav_link_disabled{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 700;
    margin-left: 16px;
}

@media (min-width: 580px) {
    .mobile_links_form {
        display: none;
    }
  }

  @media (max-width: 580px) {
    .mobile_links_form {
        border: none;
        outline: none;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #121212;
        cursor: pointer;
        width: 130px;
        text-align: center;
    }
  }

  @media (max-width: 580px) {
    .mobile_nav_link:hover{
        cursor: pointer;
        color: #0EC261
    }
  }

  .links_popup{
      position: absolute;
      margin-top: 7px;
      width: 130px;
      z-index: 100;
      background-color: white;
      border: 1px solid#121212;
  }

  .nav_link_mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    font-family: "Roboto";
    font-weight: 700;
    height: 24px;
    border-bottom: 0.5px solid #121212;
  }

  .nav_link_mobile:hover{
      color: white;
      background-color: #0EC261;
  }

  .nav_link_mobile:active{
    color: white;
    background-color: #0EC261;
}

.nav_link_mobile_active{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #0EC261;
    font-family: "Roboto";
    font-weight: 700;
    height: 24px;
    border-bottom: 0.5px solid #121212;
}

.nav_link_mobile_disabled{
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-family: "Roboto";
    font-weight: 700;
    height: 24px;
    border-bottom: 0.5px solid #121212;
}

.down_arrow{
    width: 4px;
    height: 4px;
    position: absolute;
    margin-left: 5px;
    border: solid #121212;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(300deg);
    -webkit-transform: rotate(45deg);
    margin-top: 3px;
}

.up_arrow{
    width: 4px;
    height: 4px;
    position: absolute;
    margin-left: 5px;
    border: solid #121212;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(300deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 5px;
}