.car_form{
    cursor: pointer;
    width: 336px;
    height: 192px;
    padding: 16px;
}

.car_form:hover{
    width: 336px;
    height: 192px;
    padding: 15px;
    border: 1px solid #999999;
}

.model_name{
    font-family: "Regular";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #121212;
}

.price{
    font-family: "Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.img{
    width: 100px;
    height: 100px;
}