.main-page-content-form{
    width: calc(50vw - 160px);
    height: 100vh;
    margin: 0 64px 0 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1278px) {
    .main-page-content-form {
        width: 59vw;
        margin: 0 32px 0 32px;
    }
  }

@media (max-width: 1024px) {
    .main-page-content-form {
        width: calc(100vw - 86px);
    }
  }

  @media (max-width: 540px) {
    .main-page-content-form {
        margin: 0 32px 0 0;
        width: 100vw;
    }
  }

.location-image{
    margin-right: 7.5px;
    width: 17px;
    height: 20px;
}

.carsharing-text{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 70px;
    line-height: 66px;
    color: #121212;
}

@media (max-width: 540px) {
    .carsharing-text{
        font-size: 32px;
        line-height: 100%;
        margin-left: 20px;
    }
  }

.big-logo{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 70px;
    line-height: 66px;
    color: #0EC261;
}

@media (max-width: 540px) {
    .big-logo{
        font-size: 32px;
        line-height: 100%;
        margin-left: 20px;
    }
  }

.purpose{
    margin-top: 37px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #999999;
}

@media (max-width: 540px) {
    .purpose{
        margin-top: 17px;
        font-size: 18px;
        line-height: 21px;
        margin-left: 20px;
    }
  }

.order-btn-form{
    margin-top: 60px;
    width: 250px;
    height: 48px;
    outline: none;
    background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
    background-blend-mode: darken;
    box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 540px) {
    .order-btn-form{
        border-radius: 0px;
        width: 100vw;
        margin-top: 32px;
        height: 50px;
    }
  }

.order-btn-form:hover{
    filter: brightness(90%);
}

.order-btn-form:active{
    filter: brightness(80%);
}

.main-page-content-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

@media (max-width: 540px) {
    .main-page-content-footer {
        height: 72px;
        background: #151B1F;
        margin-bottom: 0;
        flex-direction: column-reverse;
        align-items: flex-end;
        padding-right: 16px;
    }
  }

.cop-mark{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
}

@media (max-width: 540px) {
    .cop-mark {
        margin-bottom: 14px;
        color: #EEEEEE;
    }
  }

.support-phone{
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #121212;
}

.support-phone:hover{
    color: #0EC261;
}

@media (max-width: 540px) {
    .support-phone {
        margin-top: 14px;
        color: #EEEEEE;
    }
  }
