.main_page_content_form {
  width: calc(50vw - 160px);
  height: 100vh;
  margin: 0 64px 0 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1278px) {
  .main_page_content_form {
    width: 59vw;
    margin: 0 32px 0 32px;
  }
}

@media (max-width: 1024px) {
  .main_page_content_form {
    width: calc(100vw - 86px);
  }
}

@media (max-width: 540px) {
  .main_page_content_form {
    margin: 0 32px 0 0;
    width: 100vw;
  }
}

.carsharing_text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  color: #121212;
}

@media (max-width: 540px) {
  .carsharing_text {
    font-size: 32px;
    line-height: 100%;
    margin-left: 20px;
  }
}

.big_logo {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  color: #0ec261;
}

@media (max-width: 540px) {
  .big_logo {
    font-size: 32px;
    line-height: 100%;
    margin-left: 20px;
  }
}

.purpose {
  margin-top: 37px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #999999;
}

@media (max-width: 540px) {
  .purpose {
    margin-top: 17px;
    font-size: 18px;
    line-height: 21px;
    margin-left: 20px;
  }
}

.order_btn_form {
  margin-top: 60px;
  width: 250px;
  height: 48px;
  outline: none;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 540px) {
  .order_btn_form {
    border-radius: 0px;
    width: 100vw;
    margin-top: 32px;
    height: 50px;
  }
}

.order_btn_form:hover {
  filter: brightness(90%);
}

.order_btn_form:active {
  filter: brightness(80%);
}

.main_page_content_footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media (max-width: 540px) {
  .main_page_content_footer {
    height: 72px;
    background: #151b1f;
    margin-bottom: 0;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-right: 16px;
  }
}

.cop_mark {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #999999;
}

@media (max-width: 540px) {
  .cop_mark {
    margin-bottom: 14px;
    color: #eeeeee;
  }
}

.support_phone {
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #121212;
}

.support_phone:hover {
  color: #0ec261;
}

@media (max-width: 540px) {
  .support_phone {
    margin-top: 14px;
    color: #eeeeee;
  }
}
