.App {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(./Fonts/Roboto-Regular.ttf)
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(./Fonts/Roboto-Bold.ttf)
}

@font-face {
  font-family: "Roboto-Light";
  src: url(./Fonts/Roboto-Light.ttf)
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(./Fonts/Roboto-Medium.ttf)
}